.products-list {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 3%);
    border: 1px solid #e4e4e4;
    &_item {
      flex: 1 0 25%;
      max-width: 25%;
      height: 370px;  
      & > div {
        border: 1px solid #ebebeb;
        border-top: none;
        border-left: none;
        &:hover {
            box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%);
        }
      }
      @media (max-width:767px) {
          flex: 1 0 100%;
          max-width: 100%;
          height: 175px !important;
           & > div {
               border-right: none;
           }
      }
    }
  }