@mixin sliderImg {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    object-position: center;
    margin: auto;
}

@mixin line-clamp($line) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin secondSliderItem($item) {
    .#{$item} {
        &-caption {
            height: 90px;
        }

        &-img {
            width: 100%;
            height: 180px;

            img {
                @include sliderImg;
            }
        }
    }
}

@mixin no-container {
    max-width: 100% !important;
}

@mixin no-container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-container-fluid-lg {
    @media (min-width:992px) {
        @include no-container-fluid;
    }
}

.no-guttesrs-less-lg {
    @media (max-width:992px) {
        @include no-container-fluid;
    }
}

.no-guttesrs-less-md {
    @media (max-width:768px) {
        @include no-container-fluid;
    }
}

.now-price {
    font-size: 20px;
}

.caption_nameTwoLine {
    @include line-clamp(2);
}

.caption_nameOneLine {
    @include line-clamp(1);
}

.slider-2 {
    width: 100%;
    height: 500px;
}

.categories,
.discounts,
.bestSellers,
.similars,
.brands {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);

    a {
        width: 100%;
    }
}

.discounts {
    height: calc((100vw - 16px)/3);
    border-radius: 20px;

    &-slider {
        height: calc((100vw - 16px)/3 - 100px) !important;
        width: 100%;

        .swiper-slide {
            justify-content: start;
            align-items: flex-start;
        }

        &_caption {
            @media (min-width:1200px) {
                justify-content: space-around !important;
            }
        }
    }

    &-title {
        font-size: 32px !important;

        @media (max-width:1200px) {
            font-size: 24px !important;
        }
    }
}

.bestSellers,
.similars,
.brands {
    &-title {
        font-size: 24px !important;

        @media (max-width:1200px) {
            font-size: 20px !important;
        }
    }

    overflow: hidden;
}

.discounts-small {
    width: 100vw !important;
    height: 334px;
    overflow: hidden;
    background: linear-gradient(302deg, #ef394e 67%, #ef5662) !important;
}

.categories {
    height: calc((100vw - 16px)/3);
    border-radius: 20px;

    @media (max-width:768px) {
        height: calc((100vw - 16px)/2) !important;
    }

    a {
        width: 100%;
        height: 100%;
    }
}

.bestSellers,
.similars,
.brands {
    width: 100%;
    border-radius: 8px;
    position: relative;

    &-title {
        border-bottom: #f0403a 1px solid;
    }

    &-header {
        margin: 0px 9px 0 33px;
        padding-top: 9px;

        @media (max-width:768px) {
            margin-left: 20px !important;
        }
    }

    &-header-rtl {
        margin: 0px 33px 0 9px !important;
    }
}

.bestSellers,
.similars {
    height: 400px;
    @include secondSliderItem(similar);
    @include secondSliderItem(bestSeller);
}

.bestSellers-swiper {
    width: 100%;
    height: 330px;
}

.brands {
    height: 230px;

    .brand {
        width: 140px;

        &-img {
            width: 100%;
            height: 140px;

            img {
                @include sliderImg;
            }
        }
    }
}

.brands-swiper {
    width: 100%;
    height: 163px;
}

.swiper-slide-small {
    width: 49.5vw !important;

    @media (min-width:576px) {
        width: 205px !important;
    }

    height:100% !important;
    overflow: hidden !important;
    border-radius: 8px !important;
}

.second-card-img {
    width: 90% !important;
    height: 67% !important;

    img,
    &-small img {
        @include sliderImg;
    }

    &-small {
        height: 150px !important;
    }
}