.active-category {
    background-color: rgb(240, 255, 244) !important;
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.all-categories {
    top: 100px;
    width: 100vw;
    height: calc(100vh - 136px);
    &_backdrop {
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background-color: rgba(52, 58, 64, 0.6);
    }
    &_background {
      width: 97.5vw;
      z-index: 3;
    }
  }