.brand-swiper {
    width: 100%;
    height: 490px;
    position: relative;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    overflow-y: scroll;
    /* Firefox */
    scrollbar-color: rgba(204, 204, 204, 0.705) transparent;
    scrollbar-width: 10px;
    scrollbar-arrow-color: transparent;
    // chrome
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: rgba(204, 204, 204, 0.705);
    }
    &::-webkit-scrollbar-button {
      visibility: hidden;
    }
    &_logo {
      width: 70px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    &_product {
      margin-left: 10px;
    }
  }